<%= form_for @restaurant do | f | %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true, :placeholder => 'Restaurant/Cafe Name', :class => 'formField' %>
    <br />
    <%= f.label :address %>
    <%= f.text_field :address, :required => true, :placeholder => 'Follow format: 4 Rock St, Surry Hills, NSW 2010', :class => 'formField' %>
    <br />
    <%= f.label :suburb %>
    <%= f.text_field :suburb, :required => true, :placeholder => 'Eg. Surry Hills', :class => 'formField' %>
    <br />
    <%= f.label :description %>
    <%= f.text_field :description, :required => true, :placeholder => 'Short description', :class => 'formField' %>
    <br />
    <%= f.label :opening_hours %>
    <%= f.text_field :opening_hours, :required => true, :placeholder => '2pm - 5am', :class => 'formField' %>
    <br />
    <%= f.label :price %>
    <%= f.text_field :price, :required => true, :placeholder => 'Follow format: 1=$ 2=$$ 3=$$$ 4=$$$$', :class => 'formField' %>
    <br />
    <%= f.label :image %>
    <%= f.url_field :image, :required => true, :placeholder => 'https://www.image.com', :class => 'formField' %>
  </fieldset>
  <label></label>
  <fieldset>
    <%= f.submit "Add", :class => "addButton" %>
  </fieldset>
<% end %>
