<%= form_for @category do | f | %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true, :placeholder => 'Eg. Greek', :class => 'formField' %>
  </fieldset>
  <label></label>
  <fieldset>
    <%= f.submit "UPDATE", :class => "updateButton" %>
  </fieldset>
<% end %>

<br />
<%= button_to 'DELETE', @category, :method => 'delete', :class=> "deleteButton", :data => { :confirm => 'Are you sure? This category will be deleted forever' } %>
