<!DOCTYPE html>
<html>
  <head>
    <title>EatMeOutRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <div>
      <%= link_to 'Restaurant Listings', restaurants_path, :class => "navItem" %>
      <%= link_to 'Add New Listing', new_restaurant_path, :class => "navItem" %>

      <%= link_to 'Category List', categories_path, :class => "navItem" %>
      <%= link_to 'Add New Category', new_category_path, :class => "navItem" %>

      <%= link_to 'Users List', users_path, :class => "navItem" %>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
